<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <center>Descripción</center>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>


  <div>
    
      <hr>
      <h1><b>Biografía:</b></h1>
      Me llamo Bryan Tandazo, tengo 21 años y me gradue en el colegio Bicentenario D7. Actualmente estoy estudiando la carrera de Desarrollo de software en la Escuela politecnica Nacional(EPN).
    
  </div>

  <div>
    
      <hr>
      <h1><b>Ubicación:</b> Quito - Ecuador</h1>
      <h1><b>NickName:</b> BryanTnz</h1>
  
  </div>

</ion-content>
