<ion-header [translucent]="true">
  <ion-toolbar>
    <center><ion-title>
      Bryan Tandazo
    </ion-title></center>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ID</ion-title>
      
    </ion-toolbar>
  </ion-header>

  <div>
    <hr>
    <center><img src="https://avatars.githubusercontent.com/u/66330281?v=4" width="200" height="200"></center>
  </div>

  <div>
    <center>
      <hr>
      <h1><b>Facultad:</b> ESFOT</h1>
      <h1><b>Carrea:</b> Desarrollo de software</h1>
      <h1><b>Periodo:</b> 2022-A</h1>
    </center>
  </div>

  
  <app-explore-container name="Github"></app-explore-container>
</ion-content>
