<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <center>CV</center>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <center>
      <hr>
      <h1><b>Lenguajes:</b> C, C++, JAVA, PYTHON, PHP</h1>
      <h1><b>Áreas de interes:</b> Back End Developer</h1>
      <h1><b>Correo:</b> bryan.tandazo@epn.edu.ec - bry.tandazo@gmail.com</h1>
    </center>
  </div>
  <ion-icon name="logo-snapchat"></ion-icon>
</ion-content>
